<div>
  <div class="messages_container">
    <div
      class="message_container {{ message.className }}"
      *ngFor="let message of messages"
    >
      <p>{{ message.message }}</p>
    </div>
  </div>
  <div class="form_send">
    <div class="input_container">
      <p
        data-placeholder="Aa"
        class="inputField"
        contenteditable="true"
        type="text"
        #sendMessage
      ></p>
    </div>
    <button id="send-message" (click)="Send(sendMessage)">Send</button>
  </div>
</div>
